@import 'main.scss';

.lesson-tabs-active {
    color: black;
    position: relative;
}

.lesson-tabs-active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: -0.2rem;
    left: 0;
    background: black;
}

// .v-enter-to, .v-leave  {
//     opacity: 1;
//     transition: 0.3s;
// }

// .v-enter, .v-leave-to{
//     opacity: 0;
//     transition: 0.3s;
// }


.lesson-tabs {
    margin-top: 20rem;
    padding-bottom: 2rem;

    &__menu {
        font-size: 1.6rem;
        padding: 0 30rem;
        font-weight: 700;
        color: rgb(95, 95, 95);
        margin-bottom: 15rem;

        ul {
            width: 100%;
            justify-content: space-between;
            // padding-bottom: 2rem;
            border-bottom: 1px solid rgb(95, 95, 95);
            position: relative;
        }

        // ul::before {
        //     content: '';
        //     position: absolute;
        //     width: 25%;
        //     height: 0.1rem;
        //     bottom: 0;
        //     left: 0;
        //     background: black;
        // }

        li {
            text-align: center;
            max-width: 25rem;
            cursor: pointer;
            min-height: 10rem;
        }
    }

    &__logo {
        width: 7rem;
        opacity: .45;
    }
    
    &__text {
        flex-direction: column;
        opacity: .45;

        .lesson-tabs__title {
            font-size: 6rem;
            color: #370de0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 90%;
        }

        .lesson-tabs__subtitle {
            color: #1B407C;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
        }
    }

    &__tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__absract-gif {
        left: 100rem;
        top: -37rem;
        opacity: .2;
    }

    &__tab-titles {
        margin-bottom: 10rem;
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__tab-title {
        font-size: 8rem;
        text-transform: uppercase;
        color: #2c46db;
        margin-bottom: 10rem;
    }

    &__tab-subtitle {
        font-weight: 400;
        font-size: 6.5rem;
        opacity: .45;
    }

    &__btn {
        // overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: #2c46db;
        font-size: 4.5rem;
        align-items: center;
        border-radius: 5rem;
        color: white;
        font-weight: 300;
        padding: 0 4rem;
        min-height: 8rem;
        transition: 0.5s;
        width: 15%;
    }

    &__btn:hover {
        background-color: rgba(255, 255, 255, 0);
        border: 0.2rem solid #2c46db;
        color: #2c46db;
        transition: 0.5s;
    }
}

@media (min-width: 320px) and (max-width: 960px) {

    .lesson-tabs-active:before {
        bottom: -1.2rem;
    }

    .lesson-tabs {
        margin-top: 10rem;
        
        &__menu {
            padding: 0 2rem;
            font-size: 1.2rem;
            margin-bottom: 10rem;

            ul {
                padding-bottom: 1rem;
            }

            li {
                padding: 1rem;
            }
        }

        &__tab-titles {
            margin: 10rem 0;
        }

        &__tab-title {
            font-size: 4rem;
            margin-bottom: 5rem;
        }

        &__tab-subtitle {
            font-size: 4rem;
            font-size: 3.5rem;
            text-align: center;
        }

        &__btn {
            font-size: 2.5rem;
            min-height: 6.5rem;
            width: 35%;
        }
    }
}
