@charset "UTF-8";
* {
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color-blue: #3a64d6;
  --main-color-purple: #7b5fed;
  --additional-color-blue: rgba(61,178,224);
}

html {
  font-size: 0.5vw;
}

body {
  overflow-x: hidden;
  width: 100vw;
  font-family: 'Open Sans', Arial, sans-serif;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* Модификаторы */
.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-menu-active {
  border-bottom: 0.3rem solid var(--main-color-blue);
}

.gradient-title {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6c3ee0), to(#3db2e0));
  background-image: linear-gradient(180deg, #6c3ee0 0%, #3db2e0 100%);
  color: transparent;
  border-color: transparent;
  background-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.title-illumination {
  opacity: 0.75;
  border: none;
  background-position: center center;
  border-color: transparent;
  -webkit-box-shadow: 0 0 4rem 1.2rem #370de0;
          box-shadow: 0 0 4rem 1.2rem #370de0;
  position: absolute;
  bottom: 3rem;
  left: 0;
}

.absract-gif {
  position: absolute;
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
  width: 130rem;
  height: 130rem;
  z-index: -1;
  -o-object-fit: fill;
     object-fit: fill;
}

/* Шапка */
.header {
  min-height: 8rem;
  position: fixed;
  left: 17%;
  z-index: 2;
}

.header .header__mobile {
  background-color: black;
  width: 100%;
  height: 8rem;
  display: none;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__burger {
  margin-left: 4rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: relative;
}

.header .header__burger.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__line {
  background: var(--main-color-purple);
  width: 5rem;
  height: 0.6rem;
  display: block;
  margin: 0.7rem 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header .header__burger span:nth-child(2) {
  margin: 0.7rem 0;
}

.header .header__burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
  left: 0x;
}

.header .header__burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.header .header__burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 0px;
  left: 0px;
}

.header .header__menu {
  font-weight: 700;
  font-size: 1.6rem;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin-right: 10rem;
}

.header .header__li {
  padding: 0 1.5rem;
  white-space: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__li:hover a {
  color: var(--main-color-blue);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__info {
  font-weight: 400;
  font-size: 1.3rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.header .header__info .header__icon {
  width: 3rem;
  height: 3rem;
}

.header .header__info .header__info li:nth-child(2) {
  padding: 0 3rem;
}

.header .header__info .header__btn {
  overflow: hidden;
  background-color: var(--main-color-blue);
  border-radius: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__info .header__btn a {
  color: white;
  font-weight: 700;
  min-width: 13rem;
  min-height: 4rem;
}

.header .header__info .header__btn:hover {
  outline: 0.3rem solid var(--main-color-blue);
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__info .header__btn:hover a {
  color: var(--main-color-blue);
}

/* Слайд со сферой */
.about-us {
  margin-top: 10rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about-us .about-us__absract-gif-1 {
  bottom: -3.2rem;
  left: -58.2rem;
}

.about-us .about-us__absract-gif-2 {
  bottom: -38rem;
  right: -35rem;
  width: 150rem;
  height: 150rem;
}

.about-us .about-us__logo {
  width: 70rem;
}

.about-us .about-us__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .about-us__text .about-us__title {
  font-size: 27rem;
  color: #370de0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 90%;
}

.about-us .about-us__text .about-us__subtitle {
  color: #1B407C;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.about-us .about-us__text .about-us__btn {
  text-align: center;
  padding-top: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-width: 35rem;
  min-height: 8rem;
  font-weight: 500;
  font-size: 4rem;
  border-radius: 4rem;
  background-color: var(--main-color-purple);
  outline: none;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 0px 50px var(--main-color-purple);
          box-shadow: 0px 0px 50px var(--main-color-purple);
  margin-top: 4rem;
}

.about-us .about-us__corona {
  width: 6.8rem;
  position: absolute;
  bottom: -15rem;
  right: 0;
  -webkit-animation: pulse 3s ease-in-out infinite;
          animation: pulse 3s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.who-we-are {
  margin-top: 30rem;
  position: relative;
}

.who-we-are_block-1 {
  position: relative;
}

.who-we-are__absract-gif-1 {
  top: -35rem;
  right: 75rem;
}

.who-we-are__absract-gif-2 {
  top: 20rem;
  right: -40rem;
}

.who-we-are__target {
  position: relative;
}

.who-we-are__title {
  text-align: right;
  margin-bottom: 10rem;
}

.who-we-are__title span {
  font-size: 20rem;
}

.who-we-are__subtitle {
  display: inline-block;
  margin-right: 10rem;
}

.who-we-are__subtitle span {
  font-size: 10rem;
  position: relative;
}

.who-we-are__illumination-1 {
  width: 26rem;
}

.who-we-are__illumination-2 {
  width: 80rem;
}

.who-we-are__target-content-text, .who-we-are__activity-content-text, .who-we-are__events-content-text {
  opacity: 0.7;
  width: 55%;
  font-size: 3rem;
  background-color: var(--main-color-purple);
  border-radius: 2rem;
  color: white;
  padding: 3rem;
  line-height: 1.7;
}

.who-we-are__activity-content-text, .who-we-are__events-content-text {
  padding-left: 10rem;
  margin-top: 5rem;
  width: 100%;
}

.who-we-are__activity-content-text li, .who-we-are__events-content-text li {
  list-style-type: disc;
}

.who-we-are__activity-content, .who-we-are__events-content {
  margin-top: 2   0rem;
}

.who-we-are__activity-content .who-we-are__subtitle, .who-we-are__events-content .who-we-are__subtitle {
  margin-left: 13rem;
}

.who-we-are__target-content {
  margin-top: 35rem;
}

.who-we-are__img-1 {
  width: 50%;
  border-radius: 2rem;
  -webkit-box-shadow: -1rem -1rem 5rem var(--main-color-purple);
          box-shadow: -1rem -1rem 5rem var(--main-color-purple);
  position: absolute;
  z-index: 1;
  right: 0;
  top: 8rem;
}

.who-we-are__img {
  width: 40%;
  position: relative;
}

.who-we-are__activity, .who-we-are__events {
  width: 60%;
}

.who-we-are__img-2, .who-we-are__img-3 {
  width: 90%;
  border-radius: 2rem;
  position: absolute;
  left: 0;
  top: 10rem;
}

.who-we-are__img-2 {
  -webkit-box-shadow: -1rem -1rem 5rem var(--main-color-purple);
          box-shadow: -1rem -1rem 5rem var(--main-color-purple);
  z-index: 1;
  left: 12rem;
  top: 42rem;
}

.who-we-are__img-3 {
  -webkit-box-shadow: -1rem -1rem 5rem var(--main-color-purple);
          box-shadow: -1rem -1rem 5rem var(--main-color-purple);
  z-index: 0;
  left: 0;
  top: 0rem;
}

.who-we-are__block-2, .who-we-are__block-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20rem;
  margin-bottom: 40rem;
}

.who-we-are__block-3 {
  position: relative;
  width: 100rem;
  height: 56rem;
  margin: 0 auto;
  margin-bottom: 15rem;
}

.who-we-are__video {
  -webkit-box-shadow: 0rem 0rem 10rem var(--main-color-purple);
          box-shadow: 0rem 0rem 10rem var(--main-color-purple);
  width: 100%;
  height: 100%;
}

.who-we-are__block-4 {
  padding-bottom: 55rem;
}

.who-we-are__illumination-3 {
  position: absolute;
  background: #370de0;
  opacity: 0.75;
  border: none;
  z-index: -1;
  border-color: transparent;
  -webkit-box-shadow: 0 0 10rem 3.2rem #370de0;
          box-shadow: 0 0 10rem 3.2rem #370de0;
  height: 100%;
  width: 100%;
  bottom: 0rem;
  left: 0;
}

.who-we-are__img-4, .who-we-are__img-5, .who-we-are__img-6, .who-we-are__img-7, .who-we-are__img-8, .who-we-are__img-blur {
  width: 80%;
  -webkit-box-shadow: 2rem 2rem 6rem var(--main-color-purple);
          box-shadow: 2rem 2rem 6rem var(--main-color-purple);
  border-radius: 2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.who-we-are__img-4 {
  z-index: 5;
  left: -4rem;
  top: -4rem;
}

.who-we-are__img-5 {
  z-index: 4;
  left: 35rem;
  top: 60rem;
  width: 55%;
}

.who-we-are__img-8 {
  z-index: 1;
  left: -108rem;
  top: 77rem;
}

.who-we-are__img-7 {
  z-index: 2;
  left: -68rem;
  top: 97rem;
}

.who-we-are__img-6 {
  z-index: 3;
  left: -38rem;
  top: 117rem;
}

.who-we-are__img-blur {
  width: 90%;
  z-index: -1;
  left: -30rem;
  top: 51rem;
  -webkit-filter: blur(3rem);
          filter: blur(3rem);
}

.who-we-are__absract-gif-3 {
  z-index: 1;
  top: 34rem;
  left: -33rem;
  -webkit-filter: blur(7rem);
          filter: blur(7rem);
  width: 100rem;
  height: 100rem;
}

.where-we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50rem;
  padding: 0 15rem;
}

.where-we__text {
  width: 50%;
}

.where-we__title {
  font-size: 5rem;
}

.where-we__adress {
  font-size: 2rem;
  line-height: 2;
  font-weight: 300;
  margin: 4rem 0;
}

.where-we__telephone, .where-we__email {
  font-size: 1.7rem;
  line-height: normal;
  font-weight: 500;
}

.where-we__map {
  width: 50%;
  height: 50rem;
}

.coronavirus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15rem;
  background-image: url(../img/coronavirus-back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10rem;
  margin-bottom: 5rem;
}

.coronavirus__title {
  font-size: 10rem;
  color: #e03d3d;
  font-weight: 500;
}

.coronavirus__stats {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.coronavirus__stats iframe {
  height: 40rem;
}

.coronavirus__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .header .header__menu {
    font-size: 2.3rem;
  }
  .header .header__info {
    font-size: 1.7rem;
  }
}

@media (min-width: 320px) and (max-width: 960px) {
  html {
    font-size: 2vw;
  }
  .container {
    padding: 0;
  }
  .absract-gif {
    position: absolute;
    -webkit-filter: blur(5rem);
            filter: blur(5rem);
    width: 50rem;
    height: 50rem;
    z-index: -1;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    position: static;
  }
  .header .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
  }
  .header .header__menu {
    margin: 0;
  }
  .header .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    -webkit-transition: .25s ease-in;
    transition: .25s ease-in;
  }
  .header .header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem 0;
  }
  .header .header__li {
    margin-bottom: 2rem;
  }
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 7rem;
  }
  .about-us .about-us__absract-gif {
    position: absolute;
    -webkit-filter: blur(7rem);
            filter: blur(7rem);
    width: 50rem;
    height: 50rem;
    z-index: -1;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .about-us .about-us__absract-gif-1 {
    top: -30rem;
    left: 20rem;
  }
  .about-us .about-us__absract-gif-2 {
    bottom: 15rem;
    right: 23rem;
    width: 50rem;
    height: 50rem;
  }
  .about-us .about-us__logo {
    width: 15rem;
    margin-bottom: 3rem;
  }
  .about-us .about-us__text .about-us__title {
    font-size: 10rem;
  }
  .about-us .about-us__text .about-us__subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .about-us .about-us__text .about-us__btn {
    min-width: 24rem;
    min-height: 6rem;
    margin-top: 20rem;
    -webkit-box-shadow: 0px 0px 5rem var(--main-color-purple);
            box-shadow: 0px 0px 5rem var(--main-color-purple);
  }
  .about-us .about-us__corona {
    width: 2.8rem;
    position: absolute;
    bottom: -5rem;
    right: 2rem;
    -webkit-animation: pulse 3s ease-in-out infinite;
    animation: pulse 3s ease-in-out infinite;
  }
  .who-we-are {
    margin-top: 15rem;
  }
  .who-we-are__title {
    margin-bottom: 20rem;
    text-align: center;
  }
  .who-we-are__title span {
    font-size: 10rem;
  }
  .who-we-are__subtitle span {
    font-size: 6rem;
  }
  .who-we-are .title-illumination {
    -webkit-box-shadow: 0 0 4rem 0.7rem #370de0;
            box-shadow: 0 0 4rem 0.7rem #370de0;
  }
  .who-we-are__illumination-1 {
    width: 17rem;
  }
  .who-we-are__illumination-2 {
    width: 47rem;
  }
  .who-we-are__img-1 {
    width: 75%;
    right: 1rem;
    top: -18rem;
  }
  .who-we-are__target-content-text, .who-we-are__activity-content-text, .who-we-are__events-content-text {
    width: 90%;
  }
  .who-we-are__target-content {
    margin-top: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .who-we-are__target-content .who-we-are__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .who-we-are__subtitle {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .who-we-are__img-2, .who-we-are__img-3 {
    width: 160%;
    left: 0;
    top: 10rem;
  }
  .who-we-are__img-2 {
    left: 18rem;
    top: -25rem;
  }
  .who-we-are__img-3 {
    z-index: 0;
    left: 0;
    top: -103rem;
  }
  .who-we-are__block-1 {
    margin-bottom: 30rem;
  }
  .who-we-are__block-2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 130rem;
  }
  .who-we-are__activity-content .who-we-are__subtitle {
    margin: 0;
    margin-top: 5rem;
    margin-left: -19rem;
  }
  .who-we-are__activity-content-text {
    position: absolute;
    width: 95%;
    left: 0;
  }
  .who-we-are__block-3 {
    width: 100%;
    height: 28rem;
  }
  .who-we-are__events-content .who-we-are__subtitle {
    margin: 0;
    padding-left: 1rem;
  }
  .who-we-are__events-content-text {
    width: 168%;
  }
  .who-we-are__img-4, .who-we-are__img-5, .who-we-are__img-6, .who-we-are__img-7, .who-we-are__img-8, .who-we-are__img-blur {
    width: 150%;
    -webkit-box-shadow: 2rem 2rem 6rem var(--main-color-purple);
            box-shadow: 2rem 2rem 6rem var(--main-color-purple);
    border-radius: 2rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .who-we-are__img-4 {
    display: none;
    z-index: 5;
    left: -30rem;
    top: 118rem;
  }
  .who-we-are__img-5 {
    display: none;
    z-index: 4;
    left: -30rem;
    top: 118rem;
    width: 55%;
  }
  .who-we-are__img-8 {
    z-index: 1;
    left: -30rem;
    top: 118rem;
  }
  .who-we-are__img-7 {
    z-index: 2;
    left: -10rem;
    top: 128rem;
  }
  .who-we-are__img-6 {
    z-index: 3;
    left: -30rem;
    top: 143rem;
  }
  .who-we-are__img-blur {
    display: none;
    width: 90%;
    z-index: -1;
    left: -30rem;
    top: 51rem;
    -webkit-filter: blur(3rem);
            filter: blur(3rem);
  }
  .who-we-are__absract-gif-3 {
    display: none;
    z-index: 1;
    top: 34rem;
    left: -33rem;
    -webkit-filter: blur(7rem);
            filter: blur(7rem);
    width: 100rem;
    height: 100rem;
  }
  .who-we-are__block-4 {
    margin-bottom: 0;
  }
  .where-we {
    padding: 0 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }
  .where-we__text {
    width: 100%;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
  .where-we__title {
    font-size: 3.5rem;
    text-align: center;
  }
  .where-we__adress {
    font-size: 2rem;
    margin: 4rem 0;
    text-align: center;
  }
  .where-we__telephone, .where-we__email {
    font-size: 1.7rem;
    line-height: normal;
    font-weight: 500;
  }
  .where-we__map {
    width: 100%;
    height: 35rem;
  }
  .coronavirus {
    margin-top: 5rem;
    margin-bottom: 0;
    background-image: none;
    padding-bottom: 0;
  }
  .coronavirus__title {
    font-size: 6rem;
  }
  .coronavirus__stats {
    margin-top: 3rem;
  }
  .coronavirus__stats iframe {
    height: 16rem;
  }
  .coronavirus__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .header .header__menu {
    font-size: 2.3rem;
  }
  .header .header__info {
    font-size: 1.7rem;
  }
}
/*# sourceMappingURL=main.css.map */