* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color-blue: #3a64d6;
    --main-color-purple: #7b5fed;
    --additional-color-blue: rgba(61,178,224);
}

html {
    font-size: 0.5vw;
    // overflow-y: scroll;
    overflow-x: hidden;
}

body {
    overflow-x:hidden;
    width: 100vw;
    font-family: 'Open Sans', Arial, sans-serif;
}

.container {
    max-width: 100%;
    // min-height: 100vh;
    overflow-x:hidden;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 0 5%;
    // white-space: nowrap
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* Модификаторы */
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu-active {
    border-bottom: 0.3rem solid var(--main-color-blue);
}

.gradient-title {
    background-image: linear-gradient(180deg, rgba(108,62,224,1) 0%, rgba(61,178,224,1) 100%);
    color: transparent;
    border-color: transparent;
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.title-illumination {
    opacity: 0.75;
    border: none;
    background-position: center center;
    border-color: transparent;
    box-shadow: 0 0 4rem 1.2rem #370de0;

    position: absolute;
    bottom: 3rem;
    left: 0;
}

.absract-gif {
    position: absolute;
    // filter: blur(5rem);
    opacity: 0.3;
    width: 130rem;
    height: 130rem;
    z-index: -1;
    object-fit: fill;
}

/* Шапка */
.header {
    min-height: 8rem;
    position: fixed;
    left: 17%;
    z-index: 2;

    .header__mobile {
        background-color: black;
        width: 100%;
        height: 8rem;
        display: none;

    }

    .header__nav {
        display: flex;
    }

    .header__burger {
        margin-left: 4rem;
        transition: .5s ease-in-out;
        cursor: pointer;
        position: relative;
    }

    .header__burger.open {
        display: flex;
        justify-content: center;
    }

    .header__line{
        background: var(--main-color-purple);
        width: 5rem;
        height: 0.6rem;
        display: block;
        margin: 0.7rem 0;
        transition: .25s ease-in-out;
    }

    .header__burger span:nth-child(2) {
        margin: 0.7rem 0;
    }

    .header__burger.open span:nth-child(1) {
        transform: rotate(45deg);
        // position: absolute;
        top: 0px;
        left: 0x;
    }
    .header__burger.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .header__burger.open span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .header__menu {
        font-weight: 700;
        font-size: 1.6rem;
        flex-basis: 75%;
        margin-right: 10rem;
    }

    .header__li {
        padding: 0 1.5rem;
        white-space:nowrap;
        transition: 0.5s;
    }

    .header__li:hover a {
        color: var(--main-color-blue);
        transition: 0.5s;
    }

    .header__info {
        font-weight: 400;
        font-size: 1.3rem;
        flex-basis: 25%;

        .header__icon {
            width: 3rem;
            height: 3rem;
        }

        .header__info li:nth-child(2) {
            padding: 0 3rem;
        }        

        .header__btn {
            overflow: hidden;
            background-color: var(--main-color-blue);
            border-radius: 2rem;
            transition: 0.5s;
        }
        .header__btn a {
            color: white;
            font-weight: 700;
            min-width: 13rem;
            min-height: 4rem;
        }

        .header__btn:hover {
            outline: 0.3rem solid var(--main-color-blue);
            background-color: rgba(255, 255, 255, 0);
            transition: 0.5s;

            a {
                color: var(--main-color-blue);
            }
        }
    }
}

/* Слайд со сферой */
.about-us {
    margin-top: 10rem;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    
    .about-us__absract-gif-1 {
        bottom: -3.2rem;
        left: -58.2rem;
    }
    
    .about-us__absract-gif-2 {
        bottom: -45rem;
        right: -38rem;
        width: 150rem;
        height: 150rem;
    }
    
    .about-us__logo {
        width: 70rem;
    }
    
    .about-us__text {
        flex-direction: column;

        .about-us__title {
            font-size: 27rem;
            color: #370de0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 90%;
        }

        .about-us__subtitle {
            color: #1B407C;
            font-family: 'Open Sans', sans-serif;
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        
        .about-us__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 25%;
            // padding-top: 0.5rem;
            font-family: 'Open Sans', sans-serif;
            color: white;
            min-width: 35rem;
            min-height: 8rem;
            font-weight: 500;
            font-size: 4rem;
            border-radius: 4rem;
            background-color: var(--main-color-purple);
            outline: none;
            cursor: pointer;
            border: none;
            box-shadow: 0px 0px 50px var(--main-color-purple);
            margin-top: 4rem;
        }
    }
 
    .about-us__corona {
        width: 6.8rem;
        position: absolute;
        bottom: -15rem;
        right: 0;
        animation: pulse 3s ease-in-out infinite;
    }

    // анимация для короны
    @keyframes pulse {
        from {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        to {
          transform: scale(1);
        }
      }
}

.who-we-are {
    margin-top: 30rem;
    position: relative;

    &_block-1 {
        position: relative;
    }

    &__absract-gif-1 {
        top: -35rem;
        right: 75rem;
    }
    
    &__absract-gif-2 {
        top: 20rem;
        right: -40rem;
    }

    &__target {
        position: relative;
    }

    &__title {
        text-align: right;
        margin-bottom: 10rem;
        span {
            font-size: 20rem;
        }
    }

    &__subtitle {
        display: inline-block;
        margin-right: 10rem;
        span {
            font-size: 10rem;
            position: relative;
        }
    }
    &__illumination-1  {
        width: 26rem;
    }
    &__illumination-2  {
        width: 80rem;
    }



    &__target-content-text, &__activity-content-text, &__events-content-text {
        opacity: 0.7;
        width: 55%;
        font-size: 3rem;
        background-color: var(--main-color-purple);
        border-radius: 2rem;
        color: white;
        padding: 3rem;
        line-height: 1.7;
    }

    &__activity-content-text, &__events-content-text {
        padding-left: 10rem;
        margin-top: 5rem;
        width: 100%;
    }

    &__activity-content-text li, &__events-content-text li {
        list-style-type: disc;
    }

    &__activity-content, &__events-content {
        margin-top: 2   0rem;

        .who-we-are__subtitle {
            margin-left: 13rem;
        }
    }

    &__target-content {
        margin-top: 35rem;
    }

    &__img-1 {
        width: 50%;
        border-radius: 2rem;
        box-shadow: -1rem -1rem 5rem var(--main-color-purple);
        position: absolute;
        z-index: 1;
        right: 0;
        top: 8rem;
    }

    &__img {
        width: 40%;
        position: relative;
    }

    
    &__activity, &__events {
        width: 60%;
    }

    &__img-2,  &__img-3 {
        width: 90%;
        border-radius: 2rem;
        position: absolute;
        left: 0;
        top: 10rem;
    }

    &__img-2 {
        box-shadow: -1rem -1rem 5rem var(--main-color-purple);
        z-index: 1;
        left: 12rem;
        top: 42rem;
    }
    
    &__img-3 {
        box-shadow: -1rem -1rem 5rem var(--main-color-purple);
        z-index: 0;
        left: 0;
        top: 0rem;
    }

    &__block-2, &__block-4 {
        display: flex;
        margin-top: 20rem;
        margin-bottom: 40rem;
    }

    &__block-3 {
        position: relative;
        width: 100rem;
        height: 56rem;
        margin: 0 auto;
        margin-bottom: 15rem;
    }

    &__video {
        box-shadow: 0rem 0rem 10rem var(--main-color-purple);
        width: 100%;
        height: 100%;
    }

    &__block-4 {
        padding-bottom: 55rem;
    }
        
    &__illumination-3 {
        position: absolute;
        background: #370de0;
        opacity: 0.75;
        border: none;
        z-index: -1;
        border-color: transparent;
        box-shadow: 0 0 10rem 3.2rem #370de0;
        height: 100%;
        width: 100%;
        bottom: 0rem;
        left: 0;
    }
    
    &__img-4,  &__img-5,  &__img-6,  &__img-7,  &__img-8, &__img-blur {
        width: 80%;
        box-shadow: 2rem 2rem 6rem var(--main-color-purple);
        border-radius: 2rem;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__img-4 {
        z-index: 5;
        left: -4rem;
        top: -4rem;
    }

    &__img-5 {
        z-index: 4;
        left: 35rem;
        top: 60rem;
        width: 55%;
    }

    &__img-8 {
        z-index: 1;
        left: -108rem;
        top: 77rem;
    }

    &__img-7 {
        z-index: 2;
        left: -68rem;
        top: 97rem;
    }

    &__img-6 {
        z-index: 3;
        left: -38rem;
        top: 117rem;
    }

    &__img-blur {
        width: 90%;
        z-index: -1;
        left: -30rem;
        top: 51rem;
        filter: blur(3rem);
    }

    &__absract-gif-3 {
        z-index: 1;
        top: 34rem;
        left: -33rem;
        filter: blur(1rem);
        width: 100rem;
        height: 100rem;
    }
}

.where-we {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50rem;
    padding: 0 15rem;

    &__text {
        width: 50%;
    }

    &__title {
        font-size: 5rem;
    }
    &__adress {
        font-size: 2rem;
        line-height: 2;
        font-weight: 300;
        margin: 4rem 0;
    }

    &__telephone, &__email {
        font-size: 1.7rem;
        line-height: normal;
        font-weight: 500;
    }

    &__map {
        width: 50%;
        height: 50rem;
    }
}

.coronavirus {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    background-image: url(../img/coronavirus-back.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10rem;
    margin-bottom: 5rem;

    &__title {
        font-size: 10rem;
        color: #e03d3d;
        font-weight: 500;
    }

    &__stats {
        width: 100%;

        margin-top: 10rem;
        margin-bottom: 5rem;


        iframe {

            height: 40rem;
        }
    }

    &__map {  
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        // // height: 50rem;
        // #map_bg {
        //     overflow-y: scroll;
        //     }
        // iframe {
        //     overflow-y: scroll;
        // }

    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .header {
        .header__menu {
            font-size: 2.3rem;
        }
        .header__info {
            font-size: 1.7rem;
        }
    } 
}

@media (min-width: 320px) and (max-width: 960px) {
    html {
        font-size: 2vw;
    }
    .container {
        padding: 0;
    }

    .absract-gif {
        width: 50rem;
        height: 50rem;
        z-index: -1;
        object-fit: fill;
    }

    .header {
        flex-direction: column;
        background-color: white;
        position: static;
        
        .header__mobile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 10rem;
        }

        .header__menu {
            margin: 0;
        }

        .header__nav {
            flex-direction: column;
            display: none;
            transition: .25s ease-in;
        }
        .header__items{
            flex-direction: column;
            margin: 3rem 0;
        }

        .header__li {
            margin-bottom: 2rem;
        }
    }

    .about-us {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;

        .about-us__absract-gif {
            position: absolute;
             filter: blur(7rem);
            width: 50rem;
            height: 50rem;
            z-index: -1;
            object-fit: fill;
        }
        
        .about-us__absract-gif-1 {
            top: -30rem;
            left: 20rem;
        }
        
        .about-us__absract-gif-2 {
            bottom: 15rem;
            right: 23rem;
            width: 50rem;
            height: 50rem;
        }

        .about-us__logo {
            width: 15rem;
            margin-bottom: 3rem;
        }
        
        .about-us__text {
   
            .about-us__title {
                font-size: 10rem;
            }
    
            .about-us__subtitle {
                font-size: 1.5rem;
                margin-top: 2rem;
            }

            .about-us__btn {
                min-width: 24rem;
                min-height: 6rem;
                margin-top: 20rem;
                box-shadow: 0px 0px 5rem var(--main-color-purple);
            }
        }

        .about-us__corona {
            width: 2.8rem;
            position: absolute;
            bottom: -5rem;
            right: 2rem;
            -webkit-animation: pulse 3s ease-in-out infinite;
            animation: pulse 3s ease-in-out infinite;
        }
    }

    .who-we-are {
        margin-top: 15rem;

        &__title {
            margin-bottom: 20rem;
            text-align: center;
            span {
                font-size: 10rem;
            }
        }

        &__subtitle {
            span {
                font-size: 6rem;
            }
        }

        .title-illumination {
            box-shadow: 0 0 4rem 0.7rem #370de0;
        }

        &__illumination-1 {
            width: 17rem;
        }

        &__illumination-2 {
            width: 47rem;
        }

        &__img-1 {
            width: 75%;
            right: 1rem;
            top: -18rem;
        }

        &__target-content-text, &__activity-content-text, &__events-content-text {
            width: 90%;

        }

        // &__target-content-text {
        //     padding-top: 8rem;
        // }

        &__target-content {
            margin-top: 30rem;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            .who-we-are__subtitle {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }

        &__subtitle {
            margin-right: 0;
            margin-bottom: 2rem;
        }

        &__img-2,  &__img-3 {
            width: 160%;
            left: 0;
            top: 10rem;
        }

        &__img-2 {
            left: 18rem;
            top: -25rem;
        }
        
        &__img-3 {
            z-index: 0;
            left: 0;
            top: -103rem;
        }

        &__block-1 {
            margin-bottom: 30rem;
        }

        &__block-2 {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 130rem;
        }

        &__activity-content{
            .who-we-are__subtitle {
                margin: 0;
                margin-top: 5rem;
                margin-left: -19rem;
            }
        }

        &__activity-content-text {
            position: absolute;
            width: 95%;
            left: 0;
        }

        &__block-3 {
            width: 100%;
            height: 28rem;
        }

        &__events-content {
            .who-we-are__subtitle {
                margin: 0;
                padding-left: 1rem;
            }
        }

        &__events-content-text {
            width: 168%;
        }

        &__img-4,  &__img-5,  &__img-6,  &__img-7,  &__img-8, &__img-blur {
            width: 150%;
            box-shadow: 2rem 2rem 6rem var(--main-color-purple);
            border-radius: 2rem;
            position: absolute;
            left: 0;
            top: 0;
        }
    
        &__img-4 {
            display: none;
            z-index: 5;
            left: -30rem;
            top: 118rem;
        }
    
        &__img-5 {
            display: none;
            z-index: 4;
            left: -30rem;
            top: 118rem;
            width: 55%;
        }
    
        &__img-8 {

            z-index: 1;
            left: -30rem;
            top: 118rem;
        }
    
        &__img-7 {
            z-index: 2;
            left: -10rem;
            top: 128rem;
        }
    
        &__img-6 {
            z-index: 3;
            left: -30rem;
            top: 143rem;
        }
    
        &__img-blur {
            display: none;
            width: 90%;
            z-index: -1;
            left: -30rem;
            top: 51rem;
            filter: blur(3rem);
        }
    
        &__absract-gif-3 {
            display: none;
            z-index: 1;
            top: 34rem;
            left: -33rem;
            filter: blur(7rem);
            width: 100rem;
            height: 100rem;
        }

        &__block-4 {
            margin-bottom: 0;
        }
    }

    .where-we {
        padding: 0 2rem;
        flex-direction: column;
        margin-top: 5rem;

        &__text {
            width: 100%;
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
        }

        &__title {
            font-size: 3.5rem;
            text-align: center;
        }
        &__adress {
            font-size: 2rem;
            margin: 4rem 0;
            text-align: center;
        }
    
        &__telephone, &__email {
            font-size: 1.7rem;
            line-height: normal;
            font-weight: 500;
        }
    
        &__map {
            width: 100%;
            height: 35rem;
        }
    }

    .coronavirus {
        margin-top: 5rem;
        margin-bottom: 0;
        background-image: none;
        padding-bottom: 0;

        &__title {
            font-size: 6rem;
        }

        &__stats {
        margin-top: 3rem;
        // margin-bottom: -20rem;
        iframe {
            height: 16rem;
        }
        }

        &__map {  
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

        }
    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .header {
        .header__menu {
            font-size: 2.3rem;
        }
        .header__info {
            font-size: 1.7rem;
        }
    }   
}

// @media (min-width: 320px) and (max-width: 640px) {

// }