* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color-blue: #3a64d6;
    --main-color-purple: #7b5fed;
    --additional-color-blue: rgba(61,178,224);
}

html {
    font-size: 0.5vw;
}

body {
    overflow-x:hidden;
    width: 100vw;
    font-family: 'Open Sans', Arial, sans-serif;
}

.container {
    max-width: 100%;
    min-height: 100vh;
    overflow-x:hidden;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 0 5%;
    // white-space: nowrap
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* Модификаторы */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu-active {
    border-bottom: 0.3rem solid var(--main-color-blue);
}

/* Шапка */
.header {
    min-height: 8rem;
    // font-family: 'Nanum Gothic', arial, sans-serif;
    width: 100%;

    .header__mobile {
        background-color: black;
        width: 100%;
        height: 8rem;
        display: none;

    }

    .header__nav {
        display: flex;
    }

    .header__burger {
        margin-left: 4rem;
        transition: .5s ease-in-out;
        cursor: pointer;
        position: relative;
    }

    .header__burger.open {
        display: flex;
        justify-content: center;
    }

    .header__line{
        background: var(--main-color-purple);
        width: 5rem;
        height: 0.6rem;
        display: block;
        margin: 0.7rem 0;
        transition: .25s ease-in-out;
    }

    .header__burger span:nth-child(2) {
        margin: 0.7rem 0;
    }

    .header__burger.open span:nth-child(1) {
        transform: rotate(45deg);
        // position: absolute;
        top: 0px;
        left: 0x;
    }
    .header__burger.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .header__burger.open span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .header__menu {
        font-weight: 700;
        font-size: 1.6rem;
        flex-basis: 75%;
        margin-right: 10rem;
    }

    .header__li {
        padding: 0 1.5rem;
        white-space:nowrap
    }

    .header__info {
        font-weight: 400;
        font-size: 1.3rem;
        flex-basis: 25%;

        .header__icon {
            width: 3rem;
            height: 3rem;
        }

        .header__info li:nth-child(2) {
            padding: 0 3rem;
        }        

        .header__btn {
            overflow: hidden;
            background-color: var(--main-color-blue);
            border-radius: 2rem;
        }
        .header__btn a {
            color: white;
            font-weight: 700;
            min-width: 13rem;
            min-height: 4rem;
        }
    }
}

/* Слайд со сферой */
.about-us {
    margin-top: 10rem;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    .about-us__absract-gif {
        position: absolute;
        filter: blur(10rem);
        width: 130rem;
        height: 130rem;
        z-index: -1;
        object-fit: fill;
    }
    
    .about-us__absract-gif-1 {
        bottom: -3.2rem;
        left: -58.2rem;
    }
    
    .about-us__absract-gif-2 {
        bottom: -38rem;
        right: -35rem;
        width: 150rem;
        height: 150rem;
    }
    
    .about-us__logo {
        width: 70rem;
    }
    
    .about-us__text {
        flex-direction: column;

        .about-us__title {
            font-size: 27rem;
            color: #370de0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 90%;
        }

        .about-us__subtitle {
            color: #1B407C;
            font-family: 'Open Sans', sans-serif;
            font-size: 3.5rem;
            text-transform: uppercase;
        }
        
        .about-us__btn {
            font-family: 'Open Sans', sans-serif;
            color: white;
            min-width: 35rem;
            min-height: 8rem;
            font-weight: 500;
            font-size: 4rem;
            border-radius: 4rem;
            background-color: var(--main-color-purple);
            outline: none;
            cursor: pointer;
            border: none;
            box-shadow: 0px 0px 50px var(--main-color-purple);
            margin-top: 4rem;
        }
    }
 
    .about-us__corona {
        width: 6.8rem;
        position: absolute;
        bottom: -15rem;
        right: 0;
        animation: pulse 3s ease-in-out infinite;
    }

    // анимация для короны
    @keyframes pulse {
        from {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        to {
          transform: scale(1);
        }
      }
}

.who-we-are {
    margin-top: 40rem;

    &__title {
        background: linear-gradient(175deg, #6c3ee0, #3db2e0);

        h1 {
            font-size: 27rem;
            mix-blend-mode: screen;
            background: white;
        }
    }

    &__subtitle {
        background: linear-gradient(175deg, #6c3ee0, #3db2e0);


        h2 {
            font-size: 10rem;
            mix-blend-mode: screen;
            background: white;
        }
    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .header {
        .header__menu {
            font-size: 2.3rem;
        }
        .header__info {
            font-size: 1.7rem;
        }
    }   
}

@media (min-width: 320px) and (max-width: 960px) {
    html {
        font-size: 2vw;
    }
    .container {
        padding: 0;
    }
    .header {
        flex-direction: column;
        background-color: white;
        
        .header__mobile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 10rem;
        }

        .header__menu {
            margin: 0;
        }

        .header__nav {
            flex-direction: column;
            display: none;
            transition: .25s ease-in;
        }
        .header__items{
            flex-direction: column;
            margin: 3rem 0;
        }

        .header__li {
            margin-bottom: 2rem;
        }
    }

    .about-us {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;

        .about-us__absract-gif {
            position: absolute;
             filter: blur(7rem);
            width: 50rem;
            height: 50rem;
            z-index: -1;
            object-fit: fill;
        }
        
        .about-us__absract-gif-1 {
            bottom: 40rem;
            left: 20rem;
        }
        
        .about-us__absract-gif-2 {
            bottom: 20rem;
            right: 20rem;
        }

        .about-us__logo {
            width: 15rem;
            margin-bottom: 3rem;
        }
        
        .about-us__text {
   
            .about-us__title {
                font-size: 10rem;
            }
    
            .about-us__subtitle {
                font-size: 1.5rem;
                margin-top: 2rem;
            }

            .about-us__btn {
                min-width: 24rem;
                min-height: 6rem;
                margin-top: 20rem;
                box-shadow: 0px 0px 10rem var(--main-color-purple);
            }
        }

        .about-us__corona {
            width: 2.8rem;
            position: absolute;
            bottom: -5rem;
            right: 2rem;
            -webkit-animation: pulse 3s ease-in-out infinite;
            animation: pulse 3s ease-in-out infinite;
        }
    }
}

// @media (min-width: 320px) and (max-width: 640px) {

// }