@import 'main.scss';

@keyframes move {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3rem);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-105rem); }
  }

  @keyframes marquee-2 {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-231rem); }
  }

  @keyframes marquee-3 {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-248rem); }
  }

  .marquee-container {
    background-color: #6c3ee0;
    width: 100%;
    display: flex;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
    font-weight: 300;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10rem;


    .marquee-subcontainer {
        display: flex;
        width: 200%;
        animation: marquee 7s infinite linear;

    }

    .marquee-subcontainer-2 {
        display: flex;
        width: 200%;
        animation: marquee-2 15s infinite linear;

    }

    .marquee-subcontainer-3 {
        display: flex;
        width: 200%;
        animation: marquee-3 15s infinite linear;

    }
    
    .marquee-text {
       white-space: nowrap;
       position: relative;
       min-width: 105rem;
    }

    .marquee-text-2 {
        white-space: nowrap;
        position: relative;
        min-width: 231rem;
     }

     .marquee-text-3 {
        white-space: nowrap;
        position: relative;
        min-width: 248rem;
     }


    .marquee-text::after, .marquee-text-2::after, .marquee-text-3::after {
        content: '';
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 100%;
        display: block;
        background-color: #fff;
    }
  }

.oblomov-info {
    position: relative;
    margin-top: 15rem;
    height: auto;
    flex-direction: column;

    &__absract-gif-1 {
        bottom: -34rem;
        left: -44rem;
        opacity: 0.1;
    }

    &__absract-gif-2 {
        bottom: -25rem;
        left: 95rem;
        opacity: 0.1;
    }

    &__wrapper {
        width: 60%;
        height: 100%;
    }

    &__img {
        position: absolute;
        z-index: -1;
        transform: translateX(2rem) translateY(-2rem);
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #c9c9bd;
    }

    &__img-wrapper {
        position: relative;
        width: 45%;
        img {
            width: 100%;
        }
    }

    &__info-wrapper {
        width: 50%;
        padding-left: 7rem;
        height: 100%;
    }

    &__arrow {
        width: 4rem;
        animation: move 2s infinite ease;
    }

    &__arrow-wrapper {
        padding-bottom: 3rem;
        margin: 5rem 0;
    }

    &__title-wrapper {
        margin-bottom: 15rem;
        .oblomov-info__title {
            font-size: 10rem;
            color: #6c3ee0;
            font-weight: 700;
            text-align: right;
            line-height: 1;
        }

        .oblomov-info__subtitle {
            font-size: 2rem;
            width: 100%;
            text-align: right;
            color: #bcacf4;
            // opacity: 0.5;
            font-weight: 300;
        }
    }

    &__text {
        font-size: 2rem;
        width: 100%;
        color: #a485ec;
        font-weight: 300;
        margin-bottom: 15rem;

        span {
            font-weight: 700;
            color: #6c3ee0;
        }

        .oblomov-info__author {
            color: #fc8a6a;
        }
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        color: #6c3ee0;
        min-width: 13rem;
        min-height: 5rem;
        font-weight: 300;
        font-size: 2rem;
        border-radius: 4rem;
        background-color: #e9f5f0;
        outline: none;
        cursor: pointer;
        border: none;
        transition: 0.5s;
        // margin-right: 4rem;
    }

    &__btn:hover {
        color: white;
        background-color: #6c3ee0;
        transition: 0.5s;
    }
}

.plot {
    width: 50%;
    margin-bottom: 10rem;
    &__title {
        font-size: 7rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    &__subtitle {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 10rem;
        margin-top: 10rem;
    }

    &__text {
        p {
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.5;
        }

        .plot__description {
            font-size: 2.5rem;
            text-align: right;
            position: relative;
            padding-top: 2rem;
        }

        .plot__description::before {
            content: '';
            position: absolute;
            top: 1rem;
            left: 0;
            height: 0.15rem;
            width: 30rem;
            display: block;
            background-color: black;
        }
    }

    &__description-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__dream {
        position: relative;
    }

    &__dream-subtitle {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__dream-card {

        p {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;    
        }
    }

    &__dream-card.left {
        p, h3 {
            text-align: right;  
        }
    }

    &__dream-card.left.two {
        margin-top: 27rem;
    }

    &__dream-card.right {
        margin-top: 26rem;
        h3 {
            text-align: left;
        }
    }

    &__dream-cards {
        align-items: flex-start;
    }

    &__progression {
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 10%;
        align-items: center;
    }

    &__dot {
        height: 2rem;
        width: 2rem;
        background-color: black;
        border-radius: 50%;
    }

    &__line {
        height: 25rem;
        width: 0.2rem;
        background-color: #e0e0e0;
        margin: 0.3rem 0;
    }
}

.characters {
    width: 50%;
    margin-bottom: 10rem;
    margin-top: 10rem;

    &__title {
        font-size: 7rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    &__subtitle {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 10rem;
        margin-top: 10rem;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }

    &__card-img {
        width: 40%;
        height: 40rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__card-img-1 {
        background-image: url(../img/character-1.png);
    }

    &__card-img-2 {
        background-image: url(../img/character-2.jpg);
    }

    &__card-img-3 {
        background-image: url(../img/character-3.png);
    }

    &__text {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card-title {
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__card-subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        color: #7a7a7a;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    &__card-text {
        font-size: 1.7rem;
        text-align: center;
        font-weight: 300;
    }
}

.tasks {
    width: 80%;
    margin-bottom: 10rem;

    &__title {
        font-size: 7rem;
        text-align: center;
        margin-bottom: 5rem;
    }

    &__subtitle {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 7rem;
    }

    &__description {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
    }
}

@media (min-width: 320px) and (max-width: 960px){

    .oblomov-info {
        margin-top: 10rem;

        &__wrapper {
            width: 100%;
            flex-direction: column-reverse;
            position: relative;
        }

        &__info-wrapper {
            width: 100%;
            padding: 0 6rem;
        }

        &__title-wrapper {
            margin-bottom: 7rem;

            .oblomov-info__title {
                font-size: 8rem;
            }
        }

        &__img-wrapper {
            width: 70%;
            position: absolute;
            bottom: 10rem;
        }

        &__text {
            margin-bottom: 60rem;
        }

        &__btn {
            min-width: 12rem;
            font-size: 1.7rem;
        }

        &__arrow {
            margin: 0;
        } 
    }

    .plot {
        width: 80%;

        &__text {
    
            .plot__description {
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                text-align: left;
            }
    
            .plot__description::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0.15rem;
                width: 30rem;
                display: block;
                background-color: black;
            }
            .plot__description::before {
                display: none;
            }
        }
    
        &__description-wrapper {
            flex-direction: column-reverse;
        }

        &__dream-subtitle {
            font-size: 1.5rem;
        }

        &__dream-card {
            p {
                font-size: 1.4rem;
            }
        }

        &__dream-card.left.two {
            margin-top: 4rem;
        }

        .plot__dream-subtitle {
            margin-bottom: 2rem;
        }
    }

    .characters {
        width: 80%;
        margin-top: 0rem;

        &__subtitle {
            margin-bottom: 5rem;
            margin-top: 5rem;
        }
    
        &__card {
            flex-direction: column-reverse;
        }
    
        &__card-img {
            width: 90%;
            height: 35rem;
            overflow: hidden;
            margin-top: 3rem;
        }
    
    
        &__text {
            width: 90%;
        }
    
        &__card-title {
            text-align: center;
        }
    
    
        &__card-text {
            text-align: left;
        }
    }

}